.social-icon {
  width: 36px;
  height: 36px;
}

.usa {
  background-image: url(./usa.png);
}

.facebook {
  background-image: url(./facebook.png);
}

.insta {
  background-image: url(./insta.png);
}

.youtube {
  background-image: url(./youtube.png);
}

.linkedin {
  background-image: url(./linkedin.png);
}
