html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 720px;
  box-sizing: border-box;
  color: #747474;
}

.container-flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.padding-sides-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.list-none {
  list-style-type: none;
}

.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}
